.noteDate {
  font-size: 13px;
  color: #808080;
  align-items: center;
  width: 100%;
  margin-left: 140px;
}
.logo {
  width: 55px;
  height: 55px;
}
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 1px;
}
#btnGui {
  font-size: 16px;
  /* background-color: rgb(8, 125, 243); */
  margin-left: 120px;
}
#quytrinh {
  font-size: 14px;
  margin-bottom: 10px;
}
.done {
  color: green;
}
.fal {
  color: red;
}
.wait {
  color: chocolate;
}
.item {
  display: flex;
  gap: 20px;
}
.tieude {
  font-size: 22px;
  color: blue;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 8px;
}
.inputbox {
  font-size: 16px;
  text-align: center;
}

p {
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}
.back {
  background-color: goldenrod;
  font-size: 14px;
  padding: 3px 8px;
  margin-left: 0px;
  margin-bottom: 5px;
}
button {
  height: 30px;
  font-size: 14px;
  margin: 3px;
  border-radius: 3px;
  font-weight: bold;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
button:hover {
  background: #fff;
  color: #1aab8a;
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* modal */
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  background-color: beige;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

.display {
  display: flex;
}

.hidden {
  display: none;
}

.bodydangky * {
  font-size: 16px;
  margin-bottom: 5px;
  height: 25px;
}

#SoGioPhutID {
  font-size: 13px;
  margin-bottom: 1px;
}

#btnGui {
  font-size: 15px;
  height: 30px;
}
.maNV {
  background-color: rgb(255, 255, 219);
}
.label {
  font-size: 14px;
  color: darkcyan;
  margin-left: 25px;
}
.checkTime {
  height: 18px;
  width: 18px;
}

.render {
  border-style: ridge;
}

.menu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  float: left;
  display: block;
  color: #666;
  text-align: center;
  padding: 6px 5px;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.menu li:hover:not(.active) {
  background-color: #ddd;
}

.menu .active {
  color: white;
  background-color: #4caf50;
}
